html{
    background-color: bisque;
}
.container{
    display:grid;
    
    height: 1425px;
    width: 1270px;
    gap: 5px;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 65px 76px 178px 380px 250px 150px 154px 135px;
    background-color: azure;
    }


.CE{
    /* height: 319px;
    width: 1000px; */
        background-image: url(ce_logo.png);
        grid-column: 1/5;
        grid-row: 1/4;
        background-repeat: no-repeat;
}
.facebook{
    /* height: 65px;
    width: 250px; */
    grid-column: 5/5;
    grid-row: 1/1;
    background-image: url(facebook.png)
  
}
.twitter{
    background-image: url(twitter.png);
    grid-column: 5/5;
    grid-row: 2/2;
}
.face{
    background-image: url(face.png);
    grid-column: 5/5;
    grid-row: 3/3;
}

.birthday{
    background-image: url(birth.png);
    grid-row: 4/5;
    grid-column: 1/3;
}
.serious{
    background-image: url(serious.png);
    grid-column: 3/3;
    grid-row: 4/4;
}
.all-ages{
    background-image: url(all-ages.png);
    grid-row: 4/4;
}
.wigs{
    background-image: url(wigs.png);
    grid-row: 4/4;
}
.play{
    background-image: url(play.png);
    grid-column: 1/1;
    grid-row: 5/7;
}
.super{
    background-image: url(super.png);
    grid-row: 5/5;
    grid-column: 2/4;
}
.candy{
    background-image: url(candy.png);

}
.hat{
    background-image: url(hat.png);
}
.xmas{
    grid-row: 6/8;
    grid-column: 2/2;
    background-image: url(xmas.png);
}
.cursive{
    background-image: url(ce_image14.png);
    grid-column: 3/5;
    grid-row: 6/6;
}
.shipping{
    background-image: url(green.png);
}
.props{
    background-image: url(props.png);
}
.three1{
    background-image: url(kid1.png);

}
.three2{
    background-image: url(kid2.png);
}
.witch{
    background-image: url(witch.png);
}
.dark{
    background-image: url(dark-mask.png);
}
.bright-mask{
    background-image: url(ce_image20.png);
    grid-column: 2/4;
}
.tex{
    justify-content:right;
    align-content: end;
}