html{
    background-color: bisque;
}
.container{
    display:grid;
    
    height: 1345px;
    width: 1255px;
    border: 2px solid #ff0000;
    gap: 5px;}



.container > div{
    border: 1px solid black;
}
.CE{
    justify-content: center;
    background-image: url(Costume\ Expressions.png);
    grid-area: express;
}
