html{
    background-color: bisque;
}
.container{
    display:grid;
    
    height: 1385px;
    width: 1270px;
    border: 2px solid #ff0000;
    gap: 5px;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 65px 65px 178px 380px 250px 150px 154px 95px;
    }



.container > div{
    border: 1px solid black;
}
.CE{
    /* height: 319px;
    width: 1000px; */
    background-image: url();
        grid-column: 1/5;
        grid-row: 1/4;
        background-repeat: no-repeat;
}
.facebook{
    /* height: 65px;
    width: 250px; */
    grid-column: 5/5;
    grid-row: 1/1;
    background-image: url(facebook.png)
  
}

